<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="freq" 			default="100" />
	<arg name="model_file" 			default="/srv/shared/MOBL/MOBL_ARMS_41.osim" />
	<arg name="filter_output"             	default="true" />
	<arg name="imu_base_body"               default="torso" />
	<arg name="model"          		default="mobl" />
	<include file="$(find osrt_ros)/launch/ik_from_orientation_providers.xml">
		<arg name="ns" 		  		value="vicon"/>
		<arg name="name_tag" 		  	value="vicon_upper"/>
		<arg name="use_position_markers"	value="true"/>
		<arg name="use_orientation_markers"	value="false"/>
		<arg name="model_file" 		  	value="$(arg model_file)" />
		<arg name="freq" 		  	value="$(arg freq)" />
		<!-- marker,tf -->
		<arg name="point_getter_type" 		value="marker"/>
		<arg name="filter_output"             	value="$(arg filter_output)" />
		<arg name="imu_base_body"               value="$(arg imu_base_body)" />
	</include>
</launch>

